:root {
    --title-color: #143774;
    --sub-heading-color: #1792d2;
    --nav-content-color: #707070;
    --bg-color: #f8f8f8;
    --break-line: #d3d3d3;
    --border-line: #e5e5e5;
    --title-font: 'Lora', serif;
    --sub-heading-font:'Ubuntu', sans-serif;
}
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    font-weight: 300;
    font-size: 16px;
}

img {
    max-width: 100%;
    display: block;
}
/* =====================
    typography
========================= */

h1,
h2,
h3,
.widget-body {
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: 400;
}

h3 {
    color: var(--sub-heading-color); 
}
.widget-body {
    font-size: 1rem;
    line-height: 1.4;
}
h1 {
    font-size: 2rem;
    letter-spacing: -0.15rem;
}
/* h1 sub-heading */
.sub-heading {
    font-size: 0.5rem;
    letter-spacing: 0.18rem;
    font-weight: 700;    
    color: var(--sub-heading-color);
}

h2 {
    font-size: 1.5rem;
}

p {
    color: var(--nav-content-color);
    line-height: 1.6;
}

strong {
    font-weight: bold;
}

p,
.sub-heading,
.widget-title,
.article-read-more {
    font-family: var(--sub-heading-font);
}

nav li,
.sub-heading {
    text-transform: uppercase;
}



/* h2 aside */
.widget-title {
    font-weight: 700;
}

.widget-recent-post-title {
    color: var(--title-color);
    font-size: 1.1rem;
}

.article-info {
    font-size: 0.7rem;
    font-weight: bolder;
    padding: 1em 0;
}

.highlight,
.article-read-more {
    text-decoration: none;
    color: var(--sub-heading-color);
}
.article-read-more,
.bottom-page-content {
    font-weight: 700;    
}

.article-read-more {
    font-size: 0.7rem;
    letter-spacing: 0.09rem;
}

.highlight:hover,
.highlight:focus,
.article-read-more:hover,
.article-read-more:focus {
    color: var(--title-color);
    text-decoration: underline solid var(--title-color);
    text-underline-offset: 0.3em;    
}
.ft-title {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 0.1rem;
}
.ft-title,
.ft-content {
    color: rgba(255, 255, 255, .75);
}
/* =======================
    layout
========================== */
/* h1,h2,h3 & .sub-heading */
h1,
h2,
h3,
p {
    margin-top: 0;
}

header {
    padding: 2em 0 1em;
    margin-bottom: 1.5em;
    background-color: var(--bg-color);
}

@media (min-width: 685px) {
    header {
        padding: 3em 0;
    }
}

footer {
    background-color: var(--title-color);
    padding: 3em 0;
}

header,
footer {
    text-align: center;
}
/* -------- navigation --------- */
nav ul {
    justify-content: center;
    padding: 0;
    list-style: none;

}
nav li {
    padding: 0.2em 0;
   
}
nav a {
    text-decoration: none;
    color: var(--nav-content-color);
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}
nav a:hover,
nav a:focus {
    color: var(--sub-heading-color);
}
.current-page {
    text-decoration: underline;
    text-underline-offset: 0.3em;
}
.current-page:hover,
.current-page:focus {
    color: var(--nav-content-color);
}
@media (min-width: 685px) {
    nav ul {
        display: flex;
    }
    nav li {
        margin-left: 2em;
    }
}

/* sub text of h1: main title */
.sub-heading {
    margin-top: -2.5em;

}

.container {
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}
.main-content-container {
    margin-bottom: 2em;
}

@media (min-width: 685px) {
    .container-flex {
        display: flex;
        justify-content: space-between;
    }
    main {
        width: 70%;
    }
    aside {
        width: 25%;
    }
}

/* ----------- article ---------- */
.article-featured {
    border-bottom: 1px solid var(--break-line);
    margin-bottom: 2em;
}

.article-featured,
.article-recent {
    display: flex; /* *ref.1 - display: flex; so that <order> property can be used within container of main content  */
    flex-direction: column;
}
.article-recent {
    padding-bottom: 2em;
}
@media (max-width: 899px) {
    .article-recent {
        padding-bottom: 3em;
    }
    .article-recent:last-child {
        padding-bottom: 1em;
    }
}

.article-image {
    order: 1;

}
.article-recent-secondary .article-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.article-info {
    order: 2;
}
.article-title {
    order: 3;
}
.article-body {
    order: 4;
    padding-bottom: 1em;;
}
.article-read-more {
    order: 5;
    margin-bottom: 2.5em;

}
/* .article-featured .article-read-more {
    padding-top: 2em;
} */

/* "order: -1" placed
div.article-recent-secondary b4 div.article-recent-main */
.article-recent-secondary {
    order: -1;
}

.article-recent-main {
    margin-bottom: 3em;
}
@media (max-width: 899px) {
    .article-recent-main {
        margin-bottom: unset;
    }
}

/* article-recent displays 2 column when screen becomes larger than 700px */
@media (min-width: 900px) {
    .article-recent {
        display: flex;
        flex-direction: row; /* changed direction back to default */
        justify-content: space-between;   
    }
    .article-recent:last-child {
        padding-bottom: unset;
    }
    .article-recent-main {
        width: 68%;
    }
    .article-recent-secondary {
        width: 30%;
    }
    .article-recent-secondary .article-image {
        height: 250px;
        width: 100%;
        min-width: 150px;
        object-fit: cover;
        margin-bottom: 0.5em;
    }
    
    .article-recent .article-recent-main {
        margin-left: 1em;
    }    
}

/* ----------- widget/sidebar ---------- */

.sidebar-widget {
    box-sizing: border-box;
    border: 10px solid var(--border-line);
    padding: 2em;
    margin-bottom: 3em;
}
@media (max-width: 875px) {
    .sidebar-widget {
        padding: 1em;
    }
}
.widget-image {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    margin-bottom: 2em;

}
.widget-recent-post,
.widget-title,
.about-me-img,
.abt-me-main {
    margin-bottom: 1em;
}

.widget-recent-post {
    border-bottom: 1px solid var(--break-line);
}
.widget-recent-post:last-child {
    border-bottom: none;
}

.widget-recent-post-title {
    margin-bottom: 0.5em;
}
/* --------- about me page ---------- */
.full-image {
    width: 100%;
    object-fit: cover;
    max-height: 300px;
}
.abt-me-content,
.full-image {
    margin-bottom: 2em;
}
.abt-me-main {
    border: none;
    
}
